.comic {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 40px 0 40px;
}



.cover-img:hover {
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

.cover-img {
    width: 260px;
    border: 1px solid black;
    height: 440px;
}