.hero-image {
    height: 70vh;
    width: 100vw;
    background-color: black;
    z-index: 99;
    
}

.homepage-container {
    transform: translateY(-30px);
}

.hero-image img{
    height: 70vh;
    width: 100vw;
    object-fit: cover;
    filter: grayscale(80%);
    filter: brightness(50%);
}

.avengers-logo {
    width: 30vw;
    height: auto;
    display: block;
    margin: 0 auto 0 auto;
}

.featured-heroes{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-evenly;
    transform: translateX(5vw);
}