.hero-details {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100px;
    margin: 20px 40px 20px 40px;
    padding: 20px 20px 20px 20px;
}
.hero-details:hover {
    color: #ED1D24;
}
.hero-details p {
    text-align: start;
}

.thumb-nail {
    border-radius: 5px;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.32);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.32);
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .hero-details{
        width: 100vw;
    }
    .thumb-nail {
        width: 80vw;
        height: auto;
    }
}

.thumb-nail:hover {
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

