.title{
  text-align: center;
}

.overview {
  background-color: rgba(0, 0, 0, 0.801);
  z-index: 99;
  transform: translateY(60px);
  width: 100vw;
  height: 18vh;
  margin-bottom: 100px;
}

.overview img {
  width: 80vw;
  height: auto;
  opacity: 50%;
  position: absolute;
}

.overview h1 {
  text-align: center;
  color: antiquewhite;
  line-height: 20vh;
  position: sticky;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .overview h1 {
      font-size: 20pt;
  }
}

.nav-icons{
  position: absolute;
  display: flex;
  margin: 10px 0 0 20px;
}

.home-button {
  margin-right: 10px;
}

.logo {
  display: block;
  margin: auto;
  height: 10vh;
}

.logo:hover {
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  border: 0.1px solid black;
  margin-bottom: 30px;
  background-color: #202020;
  width: 100vw;
  height: 10vh;
  z-index: 99;
  display: block;
}

