.title{
  text-align: center;
}

.App {

}

.overview {
  background-color: rgba(0, 0, 0, 0.801);
  z-index: 99;
  transform: translateY(-30px);
  width: 100vw;
  height: 20vh;
}

.overview img {
  width: 80vw;
  height: auto;
  opacity: 50%;
  position: absolute;
}

.overview h1 {
  text-align: center;
  color: antiquewhite;
  line-height: 20vh;
  position: sticky;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  margin: auto;
  height: 10vh;
}

.nav-bar {
  border: 0.1px solid black;
  margin-bottom: 30px;
  background-color: #202020;
  width: 100vw;
  height: 10vh;
  z-index: 99;
  display: block;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}